.text-typer-wrapper {
    display: flex;
    justify-content: center;
    .text-typer-container {
        max-width: 500px;
        pointer-events: none;
        input {
            font-size: 2rem;
            text-align: center;
            user-select: none;
        }
    }
}